theme = "term16_dark"

[editor]
bufferline              = "multiple"
rulers                  = [120]
shell                   = ["/bin/bash", "-c"]
line-number             = "relative"
lsp.display-inlay-hints = false

[editor.file-picker]
hidden = false

[editor.soft-wrap]
enable = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode"]
center = ["file-absolute-path", "file-modification-indicator"]
right = ["version-control", "spinner",  "diagnostics","workspace-diagnostics",  "position",  "file-line-ending",  "file-type"]
mode.normal = "Нормальный"
mode.insert = "Вставка"
mode.select = "Визуальный"

[editor.whitespace.render]
newline = "all" 

[editor.whitespace.characters]
newline = "·"

[editor.indent-guides]
render = true
character = "▏"

skip-levels = 1

[keys.normal."["]
b = "goto_previous_buffer"

[keys.normal."]"]
b = "goto_next_buffer"

[keys.select]
X = ["extend_line_up", "extend_to_line_bounds"]

[keys.normal]
X   = ["extend_line_up", "extend_to_line_bounds"]

esc = ["collapse_selection", "keep_primary_selection"]
C-g = ":sh topen-git"
A-f = ":format"
A-q = ":buffer-close"
A-j = [ "extend_to_line_bounds", "delete_selection", "paste_after" ]
A-k = [ "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before" ]

[keys.normal.tab]
b   = ":pipe-to tmux split-window -v helix-git-blame"
h   = ":pipe-to tmux split-window -v helix-git-history"
c   = ":pipe-to tmux split-window -v helix-git-line-commit"
t   = ":sh topen-bash"
tab   = [":new", ":insert-output lf-pick", "select_all", "split_selection_on_newline", "goto_file", "goto_last_modified_file", ":buffer-close!", ":redraw"]
