[submodule "config/vim/pack/plugins/start/vim-polyglot"]
	path = config/vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "config/vim/pack/plugins/start/vim-gitgutter"]
	path = config/vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "config/vim/pack/plugins/start/scope.vim"]
	path = config/vim/pack/plugins/start/scope.vim
	url = https://github.com/girishji/scope.vim
[submodule "config/vim/pack/plugins/start/traces.vim"]
	path = config/vim/pack/plugins/start/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule "config/vim/pack/plugins/start/vim-go-coverage"]
	path = config/vim/pack/plugins/start/vim-go-coverage
	url = https://github.com/kyoh86/vim-go-coverage
[submodule "config/vim/pack/plugins/start/lsp"]
	path = config/vim/pack/plugins/start/lsp
	url = https://github.com/yegappan/lsp
[submodule "config/vim/pack/plugins/start/vim-test"]
	path = config/vim/pack/plugins/start/vim-test
	url = https://github.com/vim-test/vim-test
[submodule "config/vim/pack/plugins/start/augment.vim"]
	path = config/vim/pack/plugins/start/augment.vim
	url = https://github.com/augmentcode/augment.vim
[submodule "config/vim/pack/plugins/start/undotree"]
	path = config/vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "config/vim/pack/plugins/start/vim-go-syntax"]
	path = config/vim/pack/plugins/start/vim-go-syntax
	url = https://github.com/charlespascoe/vim-go-syntax
[submodule "config/vim/pack/plugins/start/vimspector"]
	path = config/vim/pack/plugins/start/vimspector
	url = https://github.com/puremourning/vimspector
[submodule "config/vim/pack/plugins/start/asyncrun.vim"]
	path = config/vim/pack/plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
