*.swp
*.swo
.vagrant
*.retry
*.log
TAGS

fixtures/_build
config/vim/nfiles/undo/*
config/vim/nfiles/swap/*
config/vim/nfiles/backup/*
config/vim/nfiles/info/*
config/vim/files/undo/*
config/vim/files/swap/*
config/vim/files/backup/*
config/vim/files/info/*
config/vim/.netrwhist

config/k9s/clusters

.gitignore
*.orig
*.rej
*.o
dwm/dwm
dwm/config.h
st/st
st/config.h
dmenu/dmenu
dmenu/config.h
