[core]
  editor = nvim
  pager = delta
  attributesfile = /Users/danil/.gitattributes

[user]
  name = Daniil Antoshin
  email = daniil.antoshin@flant.com

[commit]
	gpgsign = true

[pull]
  rebase = true

[alias]
  commit = commit --signoff
[tag]
	gpgSign = true
